<app-navbar></app-navbar>
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Crear Baile</h3>
                        <form [formGroup]="formularioBaile" (ngSubmit)="submit()">
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="tipo">Tipo</label>
                                <select id="tipo" class="form-select form-select-lg mb-4" formControlName="tipo">
                                    <option value="Individual">Individual</option>
                                    <option value="Pareja">Pareja</option>
                                    <option value="Grupo">Grupo</option>
                                </select>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="configuracion_geometrica">Configuración geométrica</label>
                                <select id="configuracion_geometrica" class="form-select form-select-lg mb-4" formControlName="configuracion_geometrica">
                                    <option value="Fila">Fila</option>
                                    <option value="Circunferencia">Circunferencia</option>
                                    <option value="Rombo">Rombo</option>
                                    <option value="Cuadrado">Cuadrado</option>
                                </select>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="pueblo">Pueblo</label>
                                <select id="pueblo" class="form-select form-select-lg mb-4" formControlName="pueblo">
                                    @for(pueblo of pueblos; track pueblo.id){
                                        <option value="{{ pueblo.id }}">{{ pueblo.nombre }}</option>
                                    }
                                </select>
                            </div>

                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" [disabled]="formularioBaile.invalid">
                                Crear
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>