<app-navbar></app-navbar>
<div class="container my-4">
    <div class="card">
        @if(noticia.tipo == 'Urgente'){
        <div class="card-header bg-danger">
            <h5>{{ noticia.titulo }}</h5>
        </div>
        }@else if(noticia.tipo == 'Aviso'){
        <div class="card-header bg-warning">
            <h5>{{ noticia.titulo }}</h5>
        </div>
        }@else if(noticia.tipo == 'Información'){
        <div class="card-header bg-info">
            <h5>{{ noticia.titulo }}</h5>
        </div>
        }@else{
        <div class="card-header bg-success">
            <h5>{{ noticia.titulo }}</h5>
        </div>
        }
        <div class="card-body">
            <p>{{ noticia.contenido }}</p>
            <p><strong>Tipo:</strong> {{ noticia.tipo }}</p>
            <p><strong>Fecha de creación:</strong> {{ noticia.fecha_creacion }}</p>
            <p><strong>Pueblo:</strong> {{ noticia.pueblo?.nombre }}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>