<div class="container mt-4">
  <h2 class="text-center mb-4">Lista de Usuarios</h2>

  <table class="table table-info table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Rol</th>
        <th>Pueblo</th>
      </tr>
    </thead>
    <tbody>
      @for(usuario of usuarios; track usuario.id){
      <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellidos }}</td>
        <td>{{ usuario.rol }}</td>
        <td>{{ usuario.pueblo?.nombre || 'No asignado' }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>