<div class="container mt-5">
  <h2 class="text-center mb-4">Listado de Pueblos</h2>

  <table class="table table-warning table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Provincia</th>
        <th>Vecinos Censados</th>
        <th>Personas en Fiestas</th>
        <th>Personas en Verano</th>
        <th>Alcalde</th>
      </tr>
    </thead>
    <tbody>
      @for(pueblo of pueblos; track pueblo.id){
      <tr>
        <td>{{ pueblo.id }}</td>
        <td>{{ pueblo.nombre }}</td>
        <td>{{ pueblo.provincia?.nombre }}</td>
        <td>{{ pueblo.num_vecinos_censados }}</td>
        <td>{{ pueblo.num_personas_fiestas }}</td>
        <td>{{ pueblo.num_personas_verano }}</td>
        <td>{{ pueblo.alcalde.nombre }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
