<app-navbar></app-navbar>
<div class="container my-4">
  <h2 class="text-center">Lista de Bailes</h2>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Tipo</th>
        <th>Configuración Geométrica</th>
        <th>Pueblo</th>
        <th>Inscribirse</th>
        @if(session == "Administrador"){
          <th>Editar</th>
        }
      </tr>
    </thead>
    <tbody>
      @for(baile of bailes; track baile.id){
      <tr>
        <td>{{ baile.tipo }}</td>
        <td>{{ baile.configuracion_geometrica }}</td>
        <td>{{ baile.pueblo.nombre }}</td>
        <td>
          <button class="btn btn-primary" (click)="inscribir(baile.id)">
            Inscribirse
          </button>
        </td>
        @if(session == "Administrador"){
          <td>
            <button class="btn btn-warning" (click)="editar(baile.id)">
              Editar
            </button>
          </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
<app-footer></app-footer>