<div class="container my-4">
  <h2 class="text-center">Lista de Bailes</h2>
  <table class="table table-success table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Configuración Geométrica</th>
        <th>Pueblo</th>
      </tr>
    </thead>
    <tbody>
      @for(baile of bailes; track baile.id){
      <tr>
        <td>{{ baile.id }}</td>
        <td>{{ baile.tipo }}</td>
        <td>{{ baile.configuracion_geometrica }}</td>
        <td>{{ baile.pueblo.nombre }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
